<div class="container">
  <div class="board">
    <div *ngFor="let row of board; let r = index" class="row">
      <div *ngFor="let cell of row; let c = index"
           class="square"
           [ngClass]="{
             'light': isLight(r, c),
             'dark': !isLight(r, c),
             'highlight': isHighlight(r, c),
             'clickable': cell.hasPiece
           }"
           (click)="onCellClick(r, c)">
        <div *ngIf="cell.hasPiece"
             class="piece"
             [ngClass]="cell.pieceColor">
        </div>
      </div>
    </div>
  </div>

  <div class="side-panel">
    <app-moves></app-moves>
    <app-chat></app-chat>
  </div>
</div>
