<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand me-4" (click)="this.router.navigate(['/play']);">
      <header>
        <h3>
          <span>Online</span>Checkers<span>.org</span>
        </h3>
      </header>
    </a>

    <button class="navbar-toggler order-lg-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <i class="bi bi-list text-white"></i>
    </button>

    <div class="collapse navbar-collapse order-lg-1 justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="this.router.navigate(['/play']);">{{ 'COMMON.PLAY' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="this.router.navigate(['/rules']);">{{ 'COMMON.RULES' | translate }}</a>
        </li>

        <li class="nav-item theme-toggle">
          <a class="nav-link" (click)="toggleTheme()">
            <i class="bi" [ngClass]="isDarkTheme ? 'bi-sun' : 'bi-moon'"></i>
          </a>
        </li>

        <li class="nav-item dropdown language-selector">
          <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ currentLang === 'it' ? 'Italiano' : 'English' }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
            <li><a class="dropdown-item" (click)="changeLanguage('it')" [class.active]="currentLang === 'it'">Italiano</a></li>
            <li><a class="dropdown-item" (click)="changeLanguage('en')" [class.active]="currentLang === 'en'">English</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
