<form #newGameForm="ngForm" (ngSubmit)="newGame()">
    <div class="mb-3">
        <label for="nickname" class="form-label">Nickname</label>
        <input
                id="nickname"
                name="nickname"
                type="text"
                class="form-control"
                required
                [(ngModel)]="nickname"
                #nick="ngModel"
        />
        <div class="form-text text-danger" *ngIf="nick.invalid && nick.touched">
        </div>
    </div>
    <button
            type="submit"
            class="btn btn-primary"
            [disabled]="newGameForm.invalid"
    >
        Nuova Partita
    </button>
</form>