<form #newGameForm="ngForm" (ngSubmit)="newGame()">
    <div class="mb-3">
        <label for="nickname" class="form-label">Nickname</label>
        <input
                id="nickname"
                name="nickname"
                type="text"
                class="form-control"
                required
                [(ngModel)]="nickname"
                #nick="ngModel"
        />
        <div class="form-text text-danger" *ngIf="nick.invalid && nick.touched">
        </div>
    </div>
    <button
            type="submit"
            class="btn btn-primary"
            [disabled]="newGameForm.invalid"
    >
        Nuova Partita
    </button>
</form>

<hr/>

<form #joinForm="ngForm" (ngSubmit)="join()">
    <div class="mb-3">
        <label for="joinGameId" class="form-label">ID Partita</label>
        <input
                id="joinGameId"
                name="joinGameId"
                type="text"
                class="form-control"
                required
                [(ngModel)]="joinGameId"
                #gid="ngModel"
        />
        <div class="form-text text-danger" *ngIf="gid.invalid && gid.touched">
            {{ gid.errors?.['required'] ? "L'ID è obbligatorio" : '' }}
        </div>
    </div>
    <button
            type="submit"
            class="btn btn-secondary"
            [disabled]="joinForm.invalid || nick.invalid"
    >
        Partecipa
    </button>
</form>
