<section class="content-section">
    <h1>{{ 'RULES.TITLE' | translate }}</h1>
    
    <p>{{ 'RULES.INTRODUCTION' | translate }}</p>
    <p>{{ 'RULES.INTRO_TEXT' | translate }}</p>

    <h2>{{ 'RULES.HISTORY_TITLE' | translate }}</h2>
    <p>{{ 'RULES.HISTORY_TEXT_1' | translate }}</p>
    <p>{{ 'RULES.HISTORY_TEXT_2' | translate }}</p>
    <p>{{ 'RULES.HISTORY_TEXT_3' | translate }}</p>
    <p>{{ 'RULES.HISTORY_TEXT_4' | translate }}</p>

    <h2>{{ 'RULES.BOARD_TITLE' | translate }}</h2>
    <p>{{ 'RULES.BOARD_TEXT_1' | translate }}</p>
    <p>{{ 'RULES.BOARD_TEXT_2' | translate }}</p>

    <h2>{{ 'RULES.MOVEMENT_TITLE' | translate }}</h2>
    <p>{{ 'RULES.MOVEMENT_TEXT_1' | translate }}</p>
    <p>{{ 'RULES.MOVEMENT_TEXT_2' | translate }}</p>
    <p>{{ 'RULES.MOVEMENT_TEXT_3' | translate }}</p>
    <p>{{ 'RULES.MOVEMENT_TEXT_4' | translate }}</p>

    <h2>{{ 'RULES.KINGS_TITLE' | translate }}</h2>
    <p>{{ 'RULES.KINGS_TEXT_1' | translate }}</p>
    <p>{{ 'RULES.KINGS_TEXT_2' | translate }}</p>
    <p>{{ 'RULES.KINGS_TEXT_3' | translate }}</p>
</section>